{% extends "base.html" %}
<!-- {% load socialaccount %} -->
{% load i18n %}
{% load crispy_forms_tags %}




{% block content %}

{% if not user_can_continue %}
<div class="row">
	<div class="col-sm-6">
		<p class="lead">Continue as Guest</p>
		<form method='POST' action=''>{% csrf_token %}
			{{ form|crispy }}
		<input type="hidden" name="next" value="{{ next_url }}">
		<input type="submit" class="btn btn-primary btn-sm" value="Continue as Guest">
		</form>
	</div>
	<div class="col-sm-6">
		<div class="container">
		<p class="lead">Login to Continue</p>
			<form method='POST' action="{% url 'account_login' %}"> {% csrf_token %}

			{{ login_form|crispy }}

			<input type="hidden" name="next" value="{{ next_url }}">
			<input type='submit' class="btn btn-primary btn-sm" value='login'>
			</form>
			<p>
				<p>{% trans "Forgot Password?" %} <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "reset it" %}</a></p>
				<p>No account? please <a href="{% url 'account_signup' %}">sign up</a></p>
			</p>
		</div>
	</div>
</div>
{% else %}

<p class="lead">
Your Order
</p>
<table class="table">
	<tr><td>Item Subtotal: {{ order.cart.subtotal }}</td></tr>
	<tr><td>Tax: {{ order.cart.tax_total }}</td></tr>
	<tr><td>Item Total: {{ order.cart.total }}</td></tr>
	<tr><td>Shipping: {{ order.shipping_total_price }}</td></tr>
	<tr><td>Order Total: {{ order.order_total }}</td></tr>	
</table>


{% endif %}



{% endblock %}