{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">

    {% include 'carousel.html' %}
    
    <!--Divider-->
    <div class="divider-new">
        <h2 class="h2-responsive">What's new?</h2>
    </div>

    <!--Section: Products v.1-->
    <section class="section">
        {% include "products/products.html" with object_list=products col_class_set="col-lg-3" %}        
    </section>

    <div class="divider-new">
        <h2 class="h2-responsive">Recommended products</h2>
    </div>

    <section class="section">
        {% include "products/products.html" with object_list=products2 %}        
    </section>
    
</div>
{% endblock %}