{% extends 'base.html' %}
{% load static %}

<script>
{% block jquery %}

function setPrice(){
	var price = $(".variation_select option:selected").attr("data-price")
	var sale_price = $(".variation_select option:selected").attr("data-sale-price")
	if (sale_price != "" && sale_price != "None" && sale_price != null ) {
	$("#price").html("<h3>" + sale_price + " <small class='og-price'>" + price  + "</small></h3>");
	} else {
	$("#price").html(price);
	}
}

setPrice()

// var price = $(".variation_select option:selected").attr("data-price")
// $("#price").text(price);

$(".variation_select").change(function(){

setPrice()

})


$("#submit-btn").click(function(event){
	event.preventDefault();
	var formData = $("#add-form").serialize(); 
	console.log(formData);
	$.ajax({
		type: "GET",
		url: "{% url 'cart' %}",
		data: formData,
		success: function(data){
			showFlashMessage(data.flash_message);
			updateCartItemCount();

		},
		error: function(response, error){
			// console.log(response)
			// console.log(error)
			$("#add-form").submit()
		}
	})



	// $("#add-form").submit()
})





{% endblock %}
</script>



{% block content %}

<div class="container">
	<section id="productDetails">
	    <div class="row">
	    	{% if object.get_image_url %}
	        <div class="col-lg-5 mb-r">
                <img src="{{ object.get_image_url }}" class="img-fluid" /> 
            </div>
        	{% endif %}
	        <div class="col-lg-7">
	            <h2 class="h2-responsive center-on-small-only product-name"><strong>{{ object.title }}</strong></h2>
	         {% if object.variation_set.count > 1 %}
	            <h4 class="h4-responsive center-on-small-only" id="price"><span class="green-text"><strong>{{ object.variation_set.first.price }}</strong></span></h4>

	            {% else %}

				<h4 class="h4-responsive center-on-small-only" id="price"><span class="green-text"><strong>{% if object.variation_set.first.sale_price %}
							{{ object.variation_set.first.sale_price }}
							<!-- <small class="og-price">{{ object.variation_set.first.price }}</small>	 -->
						</strong></span></h4>	            
						{% endif %}
			{% endif %}
	        <!--Accordion wrapper-->
	        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
	            <div class="card">
	                <div class="card-header" role="tab" id="headingOne">
	                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	                        <h5 class="mb-0">
	                        Description <i class="fa fa-angle-down rotate-icon"></i>
	                    </h5>
	                    </a>
	                </div>
	                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
	                    <div class="card-block">
	                       {{ object.description }}
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="card-header" role="tab" id="headingTwo">
	                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	                        <h5 class="mb-0">
	                        Details <i class="fa fa-angle-down rotate-icon"></i>
	                    </h5>
	                    </a>
	                </div>
	                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
	                    <div class="card-block">
	                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nesciunt atque nemo neque ut officiis nostrum incidunt maiores, magni optio et sunt suscipit iusto nisi totam quis, nobis mollitia necessitatibus.
	                    </div>
	                </div>
	            </div>
	            <div class="card">
	                <div class="card-header" role="tab" id="headingThree">
	                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	                        <h5 class="mb-0">
	                        Shipping <i class="fa fa-angle-down rotate-icon"></i>
	                    </h5>
	                    </a>
	                </div>
	                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
	                    <div class="card-block">
	                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nesciunt atque nemo neque ut officiis nostrum incidunt maiores, magni optio et sunt suscipit iusto nisi totam quis, nobis mollitia necessitatibus.
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!--/.Accordion wrapper-->

	        <!-- Add to Cart -->
	        <div class="card-block">
	        	<form id="add-form" method="GET" action="{% url 'cart' %}">
	        	<p id="jquery-message" class="lead">
	        		
	        	</p>
		            <div class="row">
		                <div class="col-md-6">
		                    <div class="md-form">
		                        <select name='item' class="mdb-select colorful-select dropdown-primary variation_select">
		                        	{% for vari_obj in object.variation_set.all %}
		                            <!-- <option value="" disabled selected>Choose your option</option> -->
		                           <option data-sale-price="{{ vari_obj.sale_price }}" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{ vari_obj.title }}</option>
		                            {% endfor %}
		                        </select>

		                        <label>Select color</label>
		                    </div>
		                </div>
		                <div class="col-md-6">
		                    <div class="md-form">
		                        <select class="mdb-select colorful-select dropdown-primary">
		                        	{% for vari_obj in object.variation_set.all %}
		                            <!-- <option value="" disabled selected>Choose your option</option> -->
		                            <option value="{{ vari_obj.id }}">{{ vari_obj.size }}</option>
		                            {% endfor %}
		                        </select>
		                        <label>Select size</label>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12 center-on-small-only text-md-right">
		                    <span class="green-text">Product available</span>
		                    

		                    <!-- <input type="submit" class="btn btn-primary btn-sm fa fa-cart-plus" value="Add to Cart"/> -->
		                    <input class="form-control" type="number" name="qty" value='1'>
		                    <button id="submit-btn" class="btn btn-primary" type="submit"><i class="fa fa-cart-plus" aria-hidden="true">
		                    </i> Add to cart</button>
		                </div>  
		            </div>
		        </form>
	        </div>
	        <!-- /.Add to Cart -->

	    	</div>
		</div>
	</section>
	<div class="divider-new">
	    <h2 class="h2-responsive">Related Products</h2>
	</div>

	<section id="related">

		<div class="row">
		{% for product in related %}
            <div class="col-md-4 col-12 mb-1">
                
                <!-- Card -->
                <div class="card text-center card-cascade narrower">

                    <!-- Card image -->
                    <div class="view overlay hm-white-slight">
                    {% if product.get_image_url %}
                        <img src="{{ product.get_image_url }}" class="img-responsive" alt="">
                    {% endif %}
                        <a>
                            <div class="mask waves-light"></div>
                        </a>
                    </div>
                    <!-- /.Card image -->

                    <!-- Card content -->
                    <div class="card-block">
                       
                        <!-- Category & Title -->
                        <h5>{{ product.get_categories }}</h5>
                        <h4 class="card-title"><strong><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></strong></h4>

                        <!-- Rating -->
                      <!--   <ul class="rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul> -->

                        <!-- Card footer -->
                        <div class="card-footer">
                            <span class="left">$ {{ product.variation_set.first.get_html_price }}</span>
                            <span class="right">
                                <a data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt"></i></a>
                                <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i class="fa fa-heart"></i></a>
                            </span>
                        </div>

                    </div>
                    <!-- /.Card content -->

                </div>
                <!-- /.Card -->
                
            </div>
        {% endfor %}
		</div>
	</section>
</div>
	<!-- /.Main Container -->
{% endblock %}